---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import SubscriptionForm from "../../components/SubscriptionForm.astro";

export async function getStaticPaths() {
  const updates = await getCollection("updates");
  return Promise.all(
    updates.map(async (update) => ({
      params: {
        updateId: update.slug,
      },
      props: {
        Content: (await update.render()).Content,
        data: update.data,
      },
    })),
  );
}

const { Content, data } = Astro.props;
---

<Layout
  title={data.og_title ? data.og_title : `${data.title} – FujoCoded`}
  preview={data.og_image?.src}
  description={data.og_description || data.tagline}
>
  <article class="m-auto rounded-xl bg-white drop-shadow-purple">
    <div class="m-auto mb-8 border-b-2 border-dotted pb-8">
      <date class="mb-2" style="font-variant: small-caps;"
        >{
          data.created_at.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }</date
      >
      <h1
        class="m-0 mb-1 text-left font-hatch text-[34px] text-fujo-pink"
        set:html={data.title}
      />
      {
        data.tagline && (
          <h2 class="tagline m-0 mb-2 text-left text-[24px] text-slate-500">
            {data.tagline}
          </h2>
        )
      }
    </div>
    <div class="prose prose-lg m-auto mt-4 max-w-max">
      {
        !!data.socials.length && (
          <div class="header-socials text-center">
            <h3 class="m-0 mb-3 font-hatch text-lg font-medium italic text-fujo-pink">
              Read 'em on <em class="text-white shadow-fujo-pink">socials</em>{" "}
              ❤︎
            </h3>
            <ul class="m-0 flex list-none justify-center gap-5 p-0">
              {data.socials.map((contact) => (
                <li class="m-0 p-0">
                  <a
                    class="inline-block text-fujo-blue transition-all hover:scale-110 hover:text-fujo-pink"
                    href={contact.url}
                    aria-label={contact.platform}
                  >
                    <Icon
                      size={28}
                      aria-hidden="true"
                      name={contact.icon ?? "world-www"}
                    />
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
      <Content />
    </div>
  </article>
  <aside
    class="mx-auto mt-4 flex max-w-xl flex-col items-center gap-3 rounded-xl bg-white px-6 pb-6 pt-7 text-center drop-shadow-purple sm:px-10"
  >
    {
      !!data.socials.length && (
        <>
          <h3 class="mb-0 mt-1 font-hatch text-[24px] font-medium italic text-fujo-pink">
            Share us on <em class="text-white shadow-fujo-pink">socials</em> ❤︎
          </h3>
          <ul class="mb-1 flex justify-center gap-5">
            {data.socials.map((contact) => (
              <li>
                <a
                  class="inline-block text-fujo-blue transition-all hover:scale-110 hover:text-fujo-pink"
                  href={contact.url}
                  aria-label={contact.platform}
                >
                  <Icon
                    size={28}
                    aria-hidden="true"
                    name={contact.icon ?? "world-www"}
                  />
                </a>
              </li>
            ))}
          </ul>
        </>
      )
    }
    <h3
      class="mb-0 mt-1 font-hatch text-[24px] font-medium italic text-fujo-pink"
    >
      Want this in your <em class="text-white shadow-fujo-pink">inbox</em>?
    </h3>
    <div class="mb-1 w-full">
      <SubscriptionForm />
    </div>
  </aside>
</Layout>

<style>
  .prose :global(h2) :global(a) {
    @apply text-fujo-pink;
    text-decoration: none;
  }

  .prose :global(h3 a) {
    @apply text-fujo-purple;
  }
  .prose :global(h2) :global(a:hover) {
    text-decoration: underline;
    cursor: pointer;
  }

  .prose :global(li) {
    max-width: 68ch;
  }

  .prose :global(a) {
    @apply text-fujo-blue decoration-fujo-purple;
  }

  .prose :global(strong a) {
    @apply font-semibold;
  }

  .prose :global(.toc) {
    @apply relative mx-[-30px] rounded-xl border border-dashed border-fujo-pink bg-white px-12 py-7 pb-8;
  }
  .prose :global(.toc h2) {
    @apply relative z-10 m-0 mb-2;
  }
  .prose :global(.toc-level) {
    @apply relative z-10 m-0 flex list-none flex-col gap-1 p-0 text-fujo-pink;
  }
  .prose :global(.toc-level-2) {
    @apply mt-1 gap-2 pl-6 text-base;
  }
  .prose :global(.toc-item) {
    @apply m-0 text-pretty p-0;
  }
  .prose :global(.toc-link) {
    @apply text-fujo-blue hover:text-fujo-pink;
  }

  .prose :global(img) {
    margin-inline: auto;
  }
  .prose :global(code) {
    @apply font-zeitung;
    letter-spacing: -1.5px;
  }
  .prose :global(::before) {
    content: "";
  }
  .prose :global(::after) {
    content: "";
  }

  .prose
    :global(
      :where(li p:first-child strong:first-child, li > strong:first-child) a
    ) {
    @apply text-fujo-pink no-underline hover:underline hover:decoration-current hover:decoration-wavy;
  }

  .prose :global(.toc .header-socials) {
    @apply mt-4 border-t border-dashed border-fujo-pink/30 pt-4;
  }
</style>

<script>
  const socials = document.querySelector(".header-socials");
  const toc = document.querySelector(".toc");
  if (socials && toc) {
    toc.insertAdjacentElement("beforeend", socials);
  }
</script>
