---
import { Icon } from "astro-icon/components";
import type { SocialsData } from "../../lib/socials-transformer";
import { Image } from "astro:assets";

interface Props {
  name: string;
  avatar: string;
  contacts: SocialsData[];
}

const { name, contacts, avatar } = Astro.props;
---

<div
  class="m-4 mx-auto flex max-w-lg flex-col gap-4 rounded-xl bg-white p-6 drop-shadow-lg"
>
  <h4
    class="flex flex-wrap items-end gap-x-3 gap-y-1 font-hatch text-2xl text-fujo-pink"
  >
    <Image
      class="rounded-xl object-cover"
      width={50}
      height={50}
      src={avatar}
      alt=""
    />{name}
  </h4>
  <ul class="flex flex-col gap-3">
    {
      contacts.map((contact) => {
        return (
          <li>
            <a href={contact.url} class="flex gap-3">
              <Icon
                size={24}
                aria-labelledby={
                  contact.platform !== "web" ? "platform" : undefined
                }
                aria-label={contact.platform === "web" ? "website" : undefined}
                name={contact.icon ?? "world-www"}
                class="flex-shrink-0"
              />
              {contact.platform !== "web" && (
                <span class="sr-only sm:not-sr-only" id="platform">
                  {contact.platform}:{" "}
                </span>
              )}
              <span class="truncate">{contact.username ? `@${contact.username}` : contact.url}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
<style>
  div::before {
    /* background: linear-gradient(180deg, #ff21e9 0%, #4360f7 100%); */
    background: radial-gradient(circle at center, #ff21e9, #4360f7);
    background-size: 500% 500%;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
    /* @apply rounded-xl; */
    border-radius: calc(0.75rem + 2px);
    animation: gradient 15s ease infinite;
  }
  div::after {
    background-color: white;
    background-size: 500% 500%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* @apply rounded-xl; */
    border-radius: calc(0.75rem + 1px);
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
