---
import ProjectCard from "../components/projects/ProjectCard.astro";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const sns = await getCollection("contacts");

const description = "Contact Us";
---

<Layout description={description}>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <a href="#contact-fujocoded-llc">
      <h1 id="contact-fujocoded-llc">Contact <em>FujoCoded LLC</em></h1>
    </a>
    <section>
		<p>
			Reach out to us via our social media!
		</p>
    </section>
	<section>
		{
			sns.map((soc) => (
				<a href={`#${soc.data.name.toLowerCase()}-soc`}>
					<h2 id={`${soc.data.name.toLowerCase()}-soc`}>{soc.data.name}</h2>
				</a>

				<ul class="mb-2 flex flex-wrap gap-2">
					{soc.data.websites.map((link) => (
						<li class="m-0">
							<a href={link.url} title={link.platform === "custom" ? "website" : link.platform}>
								<div class="flex rounded-lg bg-fujo-purple/10 p-2 group-hover:bg-fujo-purple/20">
									<Icon
										size={24}
										aria-labelledby={link.platform !== "web" ? "website" : undefined}
										aria-label={link.platform === "web" ? "website" : undefined}
										name={link.icon ?? "world-www"}
										class="flex-shrink-0"
									/>
								</div>
							</a>
						</li>
					))}
				</ul>
			))
		}
    </section>
  </article>
</Layout>
