---
import Browser from "../components/Browser.astro";
import MissionTerminal from "../components/MissionTerminal.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import HtmlTrio from "../images/main/html-trio.png";
import HtmlTrioSketch from "../images/main/html-trio-sketch.png";
import BobatanWorksBefore from "../images/main/bobatanworksbefore.png";
import BobatanWorksAfter from "../images/main/bobatanworksafter.png";
import Fujoshi from "../images/main/fujoshi.png";
import { Image } from "astro:assets";
import Socials from "../components/Socials.astro";

const SECTION_CLASS =
  "test relative flex gap-5 items-center before:rounded-3xl before:transform before:-rotate-1 drop-shadow";

const BUTTON_LINKS =
  "button-links rounded-xl bg-gradient-to-b from-[#CE00FF] to-[#A700CF] px-12 py-3 font-hatch text-lg font-medium text-white";
---

<Layout>
  <MissionTerminal />
  <div class="mt-14 flex flex-col gap-14">
    <section class={SECTION_CLASS}>
      <div class="browser-shadow -translate-x-6 -translate-y-10 transform">
        <Browser class="w-[400px]">
          <Image
            slot="front"
            class="z-10 h-auto w-[500px]"
            src={HtmlTrio}
            alt="TODO"
          />
          <Image
            slot="behind"
            class="browser-behind m-auto mt-1 h-[calc(100%-8px)] w-[calc(100%-8px)] max-w-none border-2 border-zinc-200 object-cover object-center"
            src={HtmlTrioSketch}
            alt="TODO"
            title={"Their masterpiece, once again"}
          />
        </Browser>
      </div>
      <div class="flex flex-col items-start gap-4 pb-6 pr-4 pt-1">
        <h2
          class="mb-0 font-hatch text-[34px] font-medium italic text-fujo-pink">
          A Better Web <em class="text-white shadow-fujo-pink">Together</em>
        </h2>
        <p class="text-lg text-fujo-purple">
          From books to communities, open source libraries to full-fledged
          software projects, FujoCoded creates tools and opportunities for fujoshi
          (& friends) to take control of their online world.
        </p>
        <a class={BUTTON_LINKS} href="/projects"
          >About our projects <Icon
            name="lucide:arrow-right"
            class="inline stroke-2 text-2xl font-bold"
          /></a
        >
      </div>
    </section>
    <section class:list={[SECTION_CLASS, "flex-row-reverse before:rotate-1"]}>
      <div class="browser-shadow -translate-x--5 -translate-y-5 transform">
        <Browser class="w-[400px]">
          <Image
            slot="front"
            class="z-10 h-auto w-[500px]"
            src={BobatanWorksBefore}
            alt="TODO"
          />
          <Image
            slot="behind"
            class="browser-behind m-auto mt-1 h-[calc(100%-8px)] w-[calc(100%-8px)] max-w-none border-2 border-zinc-200 object-cover object-center"
            src={BobatanWorksAfter}
            alt="TODO"
            title="after that, he got a sit down and a lesson about boundaries"
          />
        </Browser>
      </div>
      <div class="flex flex-col items-start gap-4 py-8 pl-10 pt-2">
        <h2
          class="mb-0 font-hatch text-[34px] font-medium italic text-fujo-pink">
          Shape the <em class="text-white shadow-fujo-pink">Next</em> Web
        </h2>
        <p class="text-lg text-fujo-purple">
          A new web is coming! Supported by years of experience working within
          fan communities (and some deep technical chops), our work aims to
          change who can join the conversation about the online spaces of the
          future.
        </p>
        <a class={BUTTON_LINKS} href="/about"
          >About our mission <Icon
            name="lucide:arrow-right"
            class="inline stroke-2 text-2xl font-bold"
          /></a
        >
      </div>
    </section>
    <section class={SECTION_CLASS}>
      <div class="browser-shadow -translate-x-5 -translate-y-5 transform">
        <Browser class="w-[400px]">
          <Image
            slot="front"
            class="z-40 h-auto w-[500px]"
            src={Fujoshi}
            alt="TODO"
          />
          <Image
            slot="behind"
            class="browser-behind m-auto mt-1 h-[calc(100%-8px)] w-[calc(100%-8px)] max-w-none border-2 border-zinc-200 object-cover object-center"
            src={BobatanWorksAfter}
            alt="TODO"
            title="after that, he got a sit down and a lesson about boundaries"
          />
        </Browser>
      </div>
      <div class="flex flex-col items-start gap-4 pb-6 pr-4 pt-1">
        <h2
          class="mb-0 font-hatch text-[34px] font-medium italic text-fujo-pink"
        >
          Why <em class="text-white shadow-fujo-pink">fujoshi</em>, anyway?
        </h2>
        <p class="text-lg text-fujo-purple">
          While we work to make the web a better place for everyone, we chose
          the <span class="text-fujo-pink">fujin</span>
          community (the often queer, kinky, neurodivergent, and disabled
          <em>id</em> of the internet) as our main focus and titular ambassadors.
        </p>
        <a class={BUTTON_LINKS} href="/about"
          >Learn more <Icon
            name="lucide:arrow-right"
            class="inline stroke-2 text-2xl font-bold"
          /></a
        >
      </div>
    </section>
    <section
      class="test relative flex flex-col content-center drop-shadow before:-rotate-1 before:transform before:rounded-3xl"
    >
      <div>
        <h2
          class="mb-2 text-center font-hatch text-[34px] font-medium italic text-fujo-pink"
        >
          Get <em class="text-white shadow-fujo-pink">Updates</em>
        </h2>
      </div>
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/fujocoded"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/fujocoded', 'popupwindow')"
        class="text-center"
      >
        <input
          type="email"
          name="email"
          id="bd-email"
          aria-label="email"
          placeholder="boba-tan@fujocoded.com"
          required="true"
          class="my-4 h-12 w-2/5 self-center rounded-full border-2 border-fujo-blue placeholder:italic placeholder-shown:p-3"
        />
        <input type="submit" value="Subscribe" class={BUTTON_LINKS} />
      </form>
      <div class="py-4 text-3xl">
        <Socials />
      </div>
    </section>
  </div>

  <style>
    .test::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: white;
      z-index: -1;
    }

    :where(h1, h2, h3) em {

    }
    .drop-shadow {
      filter: drop-shadow(0px 1px 1.5px #5514e0e5);
    }
    .button-links {
      color: white;
      text-decoration: none;
    }
    .browser-shadow {
      filter: drop-shadow(0px 16px 8px #00000040);
    }
    .browser-behind {
      border-style: inset;
      border-width: 2px;
      outline-offset: 1rem;
      outline-offset: 12px;
      outline: 2px outset #ddd;
    }
  </style>
</Layout>
