---
import ComingSoon from "../images/coming-soon.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const title = "FujoCoded – Coming April 1st, 2024";
const description = "Not a joke. (Well, ok, a tad bit of a joke.)";
const preview = "http://fujocoded.com/og-image.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="twitter:description" content={description} />

    <meta property="og:image" content={preview} />
    <meta name="twitter:image" content={preview} />

    <meta property="twitter:card" content="summary_large_image" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicons/safari-pinned-tab.svg"
      color="#f6d880"
    />
    <link rel="shortcut icon" href="favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#f6d880" />
    <meta name="msapplication-config" content="favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <Image src={ComingSoon} alt="" />
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/fujocoded"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/fujocoded', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <input
        type="email"
        name="email"
        id="bd-email"
        aria-label="email"
        placeholder="boba-tan@fujocoded.com"
        required="true"
      />
      <input type="submit" value="Subscribe" />
    </form>
    <div class="socials">
      <a href="https://www.tumblr.com/fujocoded"
        ><Icon name="simple-icons:tumblr" /></a
      >
      <a href="https://twitter.com/fujoc0ded"
        ><Icon name="simple-icons:twitter" /></a
      >
      <a href="https://blorbo.social/@fujocoded"
        ><Icon name="simple-icons:mastodon" /></a
      >
      <a href="https://bsky.app/profile/fujocoded.bsky.social"
        ><Icon name="simple-icons:bluesky" /></a
      >
      <a href="https://fujocoded.dreamwidth.org/"
        ><img src="/dreamwidth.png" /></a
      >
    </div>
  </body>
</html>
<style>
  body {
    background-color: #f6d880;
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }

  form {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 100%;
    margin: 0 20px;
    padding-inline: 10px;
  }
  input[type="email"] {
    height: 40px;
    width: 300px;
    max-width: 100%;
    border-radius: 15px;
    border: 3px solid black;
    padding: 11px;
  }

  input[type="submit"] {
    height: 40px;
    border-radius: 15px;
    border: 3px solid black;
    padding: 0 11px;
    font-weight: 600;
    background-color: #f0be28;
  }
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #f0ae28;
  }

  .socials {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .socials a {
    flex-shrink: 0;
    display: flex;
  }

  .socials img,
  .socials svg {
    display: block;
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border: 3px solid black;
    border-radius: 100%;
    color: black;
    flex-shrink: 0;
    padding: 5px;
    max-width: 100%;
  }

  .socials img:hover,
  .socials svg:hover {
    cursor: pointer;
    background-color: #f0ae28;
  }

  @media (max-width: 400px) {
    form {
      flex-direction: column;
    }

    .socials {
      gap: 15px;
    }
    .socials img,
    .socials svg {
      height: 40px;
      width: 40px;
    }
  }

  body img {
    max-width: 50%;
    height: auto;
  }
  * {
    box-sizing: border-box;
  }
</style>
